@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/*body*/
*{
  margin: 0%;
  padding: 0%;
  border: none;
  text-decoration: none;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;


}


/*headings and logo*/

h1{
  font-size: 280%;
  margin-left: 30px;
}

#logo{
  float: left;
  padding: 19px 11px;
  color: #fff;

  
}

span{
  color: yellow;
}
/*navigation links start here---  used diplay:flex as instead  of float right as a way to prevent the navigation bar from reversing, used flex:1 to make the navigation to strech on larger screens and become responsive , will later add a max-width so as the flex:1 property can stop streching*/
.header{    
  width: 100%;
  height: 100px;
  background: #0f4675;
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
 
}

.nav_links{
  flex: 1;
  text-align: right;

}

.nav_links ul{
  font-size: 110%;
  letter-spacing: 2px;
}
.nav_links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav_links ul li a{
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  transition: 0.3s ease;
  
}


.nav_links ul li a:hover {
  background-color: #fff;
  color: black;
}

/*page image*/


.main_image{
  padding-top: 80px;
  padding-bottom: 70px;
  height: 510px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/computer\ \(1\).jpg);/*used linear gradient as to reduce the image brightness as will be use=ing a white text color , this will help the image to be visibel to the user*/
  background-size: cover;
  background-position: center;
}

.main_image h1{
  text-align: center;
  margin-top: 100px;
  padding-top: 200px;
  color: #fff;
  font-family: lato;
  font-size: 35px;

}

.main_image p{
  text-align: center;
  color: #fff;
  font-family: lato;
  font-size: 17px;
 
}

.main_image p, #register_btn{
  line-height: 28px;
}

/*register now button ---- will contain the link to the form*/
#register_btn h2{
text-align: center;
background-color: yellow;
color: #0f4675;
padding: 10px 20px;
border: 1px solid transparent;
transition: 0.2s ease;
cursor: pointer;

}

#register_btn :hover{
  background-color: #fff;
  color: black;
  font-weight: 800;
  font-family: sans-serif;

}
/*about us section --- this are will explain to the user what the website is about, and */
#left-about {
  padding-top: 30px;
  width: 33%;
  float: left;
  background-color: blue;
}

#right-about {
  padding-top: 30px;
  width: 33%;
  float: right;
  background-color: silver;
}