@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/*body*/
* {
  margin: 0;
  padding: 0;
  margin-top: 0;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;



}


/*headings and logo*/

h1 {
  font-size: 280%;
  margin-left: 30px;
}

#logo {
  float: left;
  padding: 19px 11px;
  color: #fff;


}

span {
  color: yellow;
}

/*navigation links start here---  used diplay:flex as instead  of float right as a way to prevent the navigation bar from reversing, used flex:1 to make the navigation to strech on larger screens and become responsive , will later add a max-width so as the flex:1 property can stop streching*/
.header {
  width: 100%;
  height: 100px;
  background: #0f4675;
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;

}

.nav_links {
  flex: 1;
  text-align: right;

}

.nav_links ul {
  font-size: 110%;
  letter-spacing: 2px;
}

.nav_links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav_links ul li a {
  color: #fff;

  text-decoration: none;
  border: 1px solid transparent;
  transition: 0.3s ease;

}


.nav_links ul li a:hover {
  background-color: #fff;
  color: black;
}


/* for navbar icons to only show on small screens */
@media screen and (max-width: 770px) {

  .nav_links ul {


    padding: 5px;
    justify-content: center;
    display: flex;
    margin: 10px;
    font-size: 16px;
    padding-bottom: 30px;
    padding: 10px 5px;
    padding: 10px 5px;


  }


  .header {
    height: 150px;

  }




}

/*page image*/


.main_image {
  padding-top: 80px;
  padding-bottom: 70px;
  height: 510px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/computer\ \(1\).jpg);
  /*used linear gradient as to reduce the image brightness as will be use=ing a white text color , this will help the image to be visibel to the user*/
  background-size: cover;
  background-position: center;
}

.main_image h1 {
  text-align: center;
  margin-top: 100px;
  padding-top: 200px;
  color: #fff;
  font-family: lato;
  font-size: 35px;

}

.main_image p {
  text-align: center;
  color: #fff;
  font-family: lato;
  font-size: 17px;

}

.main_image p,
#register_btn {
  line-height: 28px;
}

/*register now button ---- will contain the link to the form... plan is to put this in the main image so that the user can register immmedialy this is good for users who know our preschool or have heard about it so they do not really need to scroll down . aslo easy to find
#register_btn h2 {
  text-align: center;
  background-color: yellow;
  color: #0f4675;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: 0.2s ease;
  cursor: pointer;


}



#register_btn :hover {
  background-color: #fff;
  color: black;
  font-weight: 800;
  font-family: sans-serif;

}*/

/*about us section --- this are will explain to the user what the website is about, have set the height to 100vh as when navigation links are clicked they do not show all off the page*/



/*Our team shows workers and their responsibilities*/
.team_container {
  padding-top: 100px;
  padding-bottom: 100px;

}

.our_team {
  padding-top: 70px;
  background-color: #009688;
}

.our_team h1 {
  font-family: 'Lato', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.employee_section_1 {
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: black;

}

.team .employee_section_1 h3 {
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .employee_section_1 p.role {
  color: black;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
  font-style: bold;
}

.team .employee_section_1 .team_img {

  top: -50px;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .employee_section_1 .team_img img {
  width: 100px;
  height: 100px;
  padding: 5px;
}

/*facilities start section*/

.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;

}

.facilities_col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facilities_col img {
  width: 100%;
  border-radius: 10px;
}

.facilities_col p {
  padding: 0;
}

.facilities_col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

.f_text h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;

}

.f_text p {
  text-align: center;
}

/*facilities end section*/


#footer {
  padding: 90px 0 20px;
  background: blue;
}

#footer_p,
#footer_h {
  text-align: center;
}

.title-text {
  padding-bottom: 10px;
}

.footer_row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_right,
.footer_left {

  flex-basis: 45%;
  margin-bottom: 20px;

}

.footer_right {
  text-align: right;
}

.social_icons {
  display: flex;
  justify-content: center;
}

.social_icons a {
  text-decoration: none;
  padding: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 50%;
}

.social_icons a i {
  font-size: 2rem;
  color: #0f4675;
  opacity: 0.9;
}

.footer_bottom {
  background-color: #0f4675;
  padding: 28px;
  text-align: center;
}

.bottom {
  background-color: green;
  padding: 10px;

}

.footer_bottom p {
  color: #fff;
}

/* hover effect for social icons*/
.social_icons a:hover {
  background-color: blue;
  transition: 0.3s;
}

.social_icons a:hover i {
  color: mistyrose;
  transition: 0.3s;
}